.App {
  font-family: sans-serif;
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  background-color: #111827;
  color: #fffbeb;
}

.leaflet-container {
  height: 80vh;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #881337;
}

h1 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.popup {
  box-sizing: border-box;
  color: #fffbeb;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 230px;
  background-color: #293142;
}

.popup a {
  color: #fffbeb;
  font-size: 16px;
  font-weight: bold;
}

.popup img {
  display: block;
  max-height: 200px;
  max-width: 200px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.popup h2 {
  text-align: center;
  margin-bottom: 5px;
  font-size: 24px;
}

.addressAndFeeType {
  text-align: center;
}

.popup h3 {
  font-size: 16px;
}

.leaflet-popup-content-wrapper {
  padding: 0;
  background-color: #293142;
  border: 5px solid #881337;
}