.App {
  font-family: sans-serif;
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  background-color: #111827;
  color: #fffbeb;
}

.leaflet-container {
  height: 80vh;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #881337;
}

@font-face {
  font-family: 'rounded';
  src: url(./assets/fonts/MPLUSRounded1c-Regular.ttf);
}

@font-face {
  font-family: 'mulish';
  src: url(./assets/fonts/Mulish-VariableFont_wght.ttf);
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.popup {
  box-sizing: border-box;
  color: #fffbeb;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 230px;
  background-color: #293142;
  font-family: 'mulish';
}

.popup a:link {
  color: #90dbeb;
  font-size: 16px;
  font-weight: bold;
}

.popup a:visited {
  color: #90dbeb;
  font-size: 16px;
  font-weight: bold;
}

.popup img {
  display: block;
  max-height: 200px;
  max-width: 200px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.popup h2 {
  text-align: center;
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: bold;
  font-family: 'rounded';
}

.addressAndFeeType {
  text-align: center;
}

.popup h3 {
  font-size: 16px;
}

.leaflet-popup-content-wrapper {
  /* padding: 0; */
  background-color: #293142;
  border: 5px solid #881337;
}

body {
  background-color: #111827;
}

.input {
  color: black;
  width: 280px;
  margin-top: 10px;
  background-color: #fffbeb;
}

#formInputs {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-family: 'rounded';
}

#formInputs p {
  margin-top: 5px;
  margin-bottom: -10px;
  text-align: center;
}

#formInputs h1 {
  text-align: center;
  font-size: 28px;
}

#formInputs button {
  margin-top: 15px;
  background-color: #fffbeb;
  color: #111827;
}